* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a:hover {
    background-color: wheat;
    color: black;
    font-weight: bold; }

body {
    background-color: wheat; }

footer {
      height: 100px;
      background-color: wheat;
      padding: 20px;
      border: 2cm; }   


h1 {
    font-family: 'Azeret Mono', monospace;
    color: black;
    font-size: 56px;
    font-weight: 200;
    text-transform: uppercase;
    margin-block: 2cm; }  

h2 {
    display: flex;
    padding: 10px;
    justify-content: center;
    margin-top: 1cm;
    margin-bottom: 1cm; }

p {
      font-size: 15px;
      font-family: sans-serif;
      line-height: 1.5;
      color: black; }
    

.carousel {
        background-color: white; }

.creador {
          color: black;
          font-weight: bold;
          font-size: 18px; }
        
.domicilio {
        padding: 10px; }





.language {
  margin-top: 2rem; }

.lightbox-false {
  display: flex;
  margin: 50px;
  padding: 20px; }

.produccion {
    color: black;
    font-weight: bold;
    font-size: 18px; }

.ubicacion {
      color: black;
      font-weight: bold;
      font-size: 18px; }   

.varietales {
    color: black;
    font-weight: bold;
    font-size: 18px; }

.vino {
  display: block;
  margin-left: auto;
  margin-right: auto; }
