header {
    height: 100px;
    padding: 20px;
    background-color: $colorFondo;
}



@media (max-width: 768px){
    header {
        background-color: $colorFondo;
    }

}

@media (max-width: 575px){
    .header {
        display: flex;
        flex-direction: column;
    }
    main {
        display: flex;
        flex-direction: column;
    }
}