a {
    margin-block: 0.5rem;
}

p {
    @extend %estiloParrafo;

}

h1 {
    
    font-family: 'Azeret Mono', monospace;
    @include fontStyle ();
}

body {
    background-color: $colorFondo;

}

.language {
    margin-top: 2rem;
}


