//Extend//
p {
    @extend %estiloParrafo;

}

.section {
    justify-content: center;
    align-items: center;
    font-family: 'Azeret Mono', monospace;
}

.language {
    margin-top: 2rem;
}

img {
    width: auto;
    height: 500px;

}

//Mixin//
h1 {
    @include fontStyle ();
}