.lightbox-false {
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.container-fluid {
    background-color: wheat;
}

.vino {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
